.results {
  display: flex;

  .day {
    border-right: 1px solid #ccc;

    &:last-child {
      border-right: 0;
    }
  }

  .flights {
    .flight-info {
      &:first-child {
        font-weight: bold;
      }
    }
  }
}
