.preferences {
  margin: 1em;
  display: flex;
  justify-content: center;

  input[type="number"] {
    width: 2em;
    margin: 0 1em;
  }
}

.main-msg {
  height: 96vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
